body{
    color: white;
    font-size: 35px;
    font-family: Bahnschrift, sans-serif;
}
.father{
    width: 800px;
    height: 700px;
    border: 1px solid red;
    flex-direction: column;
    margin: 0 auto;
    padding: 15px;
}

.heaven{
    background: green;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bottom{
    background: green;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.block{
    background: #199319;
    height: 150px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}